.Nav {
  width: 100%;
  height: 75px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  @include cardBox();
}

.Nav__inner {
  max-width: $max-page-width+200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav__logo {
  width: 140px;
  img { width: 100%; }
}

.Nav__menus {
  display: flex;
  justify-content: flex-end;
}


.Nav__wallet, .Nav__logout, .Nav__user {
  font-size: 14px;
  line-height: 24px;
  color: $brownish-grey;
  margin-left: 36px;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    background: center / contain no-repeat;
  }

  &:hover { text-decoration: underline; }

  @include breakpoint("max-card") {
    width: 24px;
    height: 24px;
    overflow: hidden;
    margin-left: 24px;
  }
}

.Nav__wallet::before {
  background-image: url("/images/icon-wallet.png");
}

.Nav__logout::before {
  background-image: url("/images/icon-logout.png");
}

.Nav__user::before {
  background-image: url("/images/user.png");
}

.Nav__network {
  padding: 2px 15px;
  border: 1px solid $dark-brown;
  border-radius: 12px;
  font-size: 12px;
  color: $dark-brown;
  text-align: center;
  margin-left: 36px;

  &--loading {
    color: $brown-grey;
    border-color: $brown-grey;
  }

  &--error {
    color: $alert-red;
    border-color: $alert-red;
  }

  span {
    display: inline-block;
    margin-right: 6px;
    font-size: 10px;
  }
}
